.container {
    background-color:rgb(224, 236, 245);
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    margin-top: 20px;
}

button {
    background-color: rgb(224, 236, 245);
    padding: 10px;
    border: 2px solid;
}


h3 {
    font-weight: bold;
}

input {
    width: 200px;
}

.mb-3 select {
    width: 200px;
}

#nome-ej {
    margin-right: 20px;
    font-weight: bold;
}

#nome-fed {
    margin-right: 30px;
    font-weight: bold;
}

#nome-fed2 {
    margin-right: 30px;
    font-weight: bold;
}

#nome-estado {
    margin-right: 25px;
    font-weight: bold;
}